name: Benchmarks

on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["main"]

jobs:
  benchmark:
    name: Benchmarks
    strategy:
      matrix:
        go-version: ["1.22"]
        platform: ["ubuntu-latest"]

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Run benchmark
        run: go test  -benchmem -run="^$" -bench "^Benchmark" . quamina.net/go/quamina | tee output.txt

      - name: Download previous benchmark data
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@4de1bed97a47495fc4c5404952da0499e31f5c29
        with:
          name: Go Benchmark
          tool: "go"
          github-token: ${{ secrets.GITHUB_TOKEN }}

          # Compare results against json from cache
          output-file-path: output.txt
          external-data-json-path: ./cache/benchmark-data.json

          # print job summary in workflow output
          summary-always: true

          # Alert on regression
          alert-threshold: "120%"
          fail-on-alert: false
          comment-on-alert: true

          # Disable github pages, for now.
          auto-push: false
