name: Unit Tests

on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["main"]

concurrency:
  group: quamina-unit-tests-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: Unit Tests
    strategy:
      matrix:
        go-version: ["1.23"]
        platform: ["ubuntu-latest"]
        type: ["Tests","Cover"] # run coverage as separate job w/out -race to avoid killing process
        include:
          - type: "Tests"
            goflags: '-v -race -count=1 -json'
          - type: "Cover"
            goflags: "-v -count=1 -json"
            coveropts: "-coverprofile=coverage.txt -covermode=atomic"

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 20 

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Install tparse
        run: go install github.com/mfridman/tparse@latest

      - name: Check for .codecov.yaml
        id: codecov-enabled
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6
        with:
          files: .codecov.yaml

      - name: Test
        env:
          COVER_OPTS: ${{ matrix.coveropts }}
          GOFLAGS: ${{ matrix.goflags }}
        run: go test $COVER_OPTS | tparse -all -notests -format markdown >> $GITHUB_STEP_SUMMARY

      - if: steps.codecov-enabled.outputs.files_exists == 'true'
        name: Upload Codecov Report
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Verify git clean
        shell: bash
        run: |
          if [[ -z "$(git status --porcelain)" ]]; then
            echo "${{ github.repository }} up to date."
          else
            echo "${{ github.repository }} is dirty."
            echo "::error:: $(git status)"
            exit 1
          fi
